.idea
.idea/
target
target/
src/main/node_modules
src/main/node_modules/
src/main/node_modules
src/main/node_modules/
src/main/webdist
src/main/webdist/
src/main/webapp/libs
src/main/webapp/libs/
src/main/test
src/main/test/
angularapp/node_modules
angularapp/app/bower_components
angularlogin/node_modules
angularlogin/app/bower_components
deployments/
*.iml
*.log
.settings/
.project
.classpath
npm-debug.log
!.gitignore
!.git*
!.editorconfig
!.jshintrc
!.bowerrc
!.npmignore
!.travis.yml
*~
*.sass-cache
src/main/resources/rebel.xml


