<component name="ArtifactManager">
  <artifact type="exploded-war" name="springapp:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springapp_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springapp/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springapp" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="$PROJECT_DIR$/war/WEB-INF/lib/junit-4.2.jar" />
          <element id="library" level="application" name="javax.servlet.jsp.jstl-api-1.2.1" />
          <element id="library" level="application" name="javax.servlet.jsp.jstl-1.2.1" />
          <element id="library" level="application" name="mysql-connector-java-5.1.36-bin" />
          <element id="library" level="application" name="commons-fileupload-1.2.2" />
          <element id="library" level="application" name="commons-io-1.3.2" />
          <element id="library" level="application" name="commons-dbcp2-2.1.11" />
          <element id="library" level="project" name="mysql-connector-java-5.1.34" />
          <element id="file-copy" path="$PROJECT_DIR$/war/WEB-INF/lib/hibernate-3.1.3.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/war/WEB-INF/lib/hibernate-3.2.3.ga.jar" />
          <element id="library" level="application" name="spring-2.5.6" />
          <element id="library" level="application" name="spring-webmvc-2.5.6" />
          <element id="file-copy" path="$PROJECT_DIR$/war/WEB-INF/lib/commons-logging-4.0.6.jar" />
          <element id="library" level="application" name="commons-pool2-2.4.21" />
          <element id="library" level="application" name="asm-3.3.1" />
          <element id="library" level="application" name="cglib-nodep-2.2.2" />
        </element>
      </element>
    </root>
  </artifact>
</component>